@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Jost", sans-serif;
}

nav {
    z-index: 99999;
}

.bgGradient {
    background: linear-gradient(99deg, #ee9ae5, #5961f9 100%);
}
.btnPrimary{
    @apply  py-2 px-8 bg-secondary font-semibold text-white rounded hover:bg-primary  transition-all duration-300
}